{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<form method="post" class="form">
  <p>{% block title %}New Deck for Group {{ selected_group_name }} {% endblock %}</p>
  <!-- <input type="text" class="id" id="id" value={{ selected_group_id }} disabled> -->
  <input name="name" id="name" placeholder="Name" required>
  <div class="checkbox">
    <input type="checkbox" name="public" id="public" value="public">
    <label for="public">public</label>
  </div>
  <input type="submit" value="Save">
</form>
{% endblock %}
