{% extends 'base.html' %}

{% block header %}
{% endblock %}

<!--{{ group['created'].strftime('%Y-%m-%d') }}-->

{% block content %}
<div class="container">
  <div id="groups" class="list">
    <div id="add-group" class="add">
      <p>Groups</p>
      <a href="{{ url_for('simplecards.create_group') }}"><img src="{{ url_for('static', filename='add.svg') }}"
          alt="add">
      </a>
    </div>
    <div id="group-list">
      {%if not groups%}
      <p>no groups yet...</p>
      {%else%}
      {% for group in groups %}
      <div class="group {% if selected_group_id == group['id'] %} group-selected{% endif %}">
	<div class="group-name">
          <!-- <p>ID: {{ group['id'] }}</p> -->
          <p>{{ group['name'] }}</p>
          <p class="about"><i>by {{ group['username'] }}</i></p>
	</div>
        <div class="options">
          <a href="{{ url_for('simplecards.select_group', id=group['id'], lookup=view_name) }}">
            <img src="{{ url_for('static', filename='view.svg') }}" alt="view">
          </a>
          {% if g.user['id'] == group['owner_id'] %}
          <div class="auth-options">
            <a class="action" href="{{ url_for('simplecards.update_group', id=group['id']) }}">
              <img src="{{ url_for('static', filename='edit.svg') }}" alt="add">
            </a>
            <a class="action" href="{{ url_for('simplecards.delete_group', id=group['id']) }}">
              <img src="{{ url_for('static', filename='delete.svg') }}" alt="add">
            </a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div id="decks" class="list">
    <div id="add-deck" class="add">
      <p>{%if selected_group_name%}{{selected_group_name}} d{%else%}D{%endif%}ecks</p>
      {% if g.user['id'] == selected_group_owner_id %}
      <a href="{{ url_for('simplecards.create_deck') }}"><img src="{{ url_for('static', filename='add.svg') }}"
          alt="add"></a>
      {%endif%}
    </div>
    <div class="deck-list">
      {%if not decks%}
      <p>no decks yet...</p>
      {%else%}
      {% for deck in decks %}
      <div class="deck {% if selected_deck_id == deck['id'] %} deck-selected{% endif %}">
        <!-- <p>#{{ deck['id'] }}</p> -->
        <p>{{ deck['name'] }}</p>
        <div class="options">
          <a href="{{ url_for('simplecards.select_deck', id=deck['id'], lookup=view_name) }}">
            <img src="{{ url_for('static', filename='view.svg') }}" alt="view">
          </a>
          <a href="{{ url_for('simplecards.learn_deck', id=deck['id']) }}">
            <img src="{{ url_for('static', filename='school.svg') }}" alt="view">
          </a>
          {% if g.user['id'] == selected_group_owner_id %}
          <div class="auth-options">
            <a class="action" href="{{ url_for('simplecards.update_deck', id=deck['id']) }}">
              <img src="{{ url_for('static', filename='edit.svg') }}" alt="add">
            </a>
            <a class="action" href="{{ url_for('simplecards.delete_deck', id=deck['id']) }}">
              <img src="{{ url_for('static', filename='delete.svg') }}" alt="add">
            </a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {%endif%}
    </div>
  </div>

  <div id="cards" class="list">
    <div id="add-card" class="add">
      <p>{%if selected_deck_name%}{{selected_deck_name}} c{%else%}C{%endif%}ards</p>
      {% if g.user['id'] == selected_group_owner_id %}
      <a href="{{ url_for('simplecards.create_card') }}"><img src="{{ url_for('static', filename='add.svg') }}"
          alt="add"></a>
      {%endif%}
    </div>
    <div class="card-list">
      {%if not cards%}
      <p>no cards yet...</p>
      {%else%}
      {% for card in cards %}
      <div class="card">
        <!-- <p>#{{ card['id'] }}</p> -->
	<div class="card-data">
          <p>{{ card['question'] }}</p>
          <p><i>{{ card['answer'] }}</i></p>
	</div>
        {% if g.user['id'] == selected_group_owner_id %}
        <div class="auth-options">
          <a class="action" href="{{ url_for('simplecards.update_card', id=card['id']) }}">
            <img src="{{ url_for('static', filename='edit.svg') }}" alt="add">
          </a>
          <a class="action" href="{{ url_for('simplecards.delete_card', id=card['id']) }}">
            <img src="{{ url_for('static', filename='delete.svg') }}" alt="add">
          </a>
        </div>
        {% endif %}
      </div>
      {% endfor %}
      {%endif%}
    </div>
  </div>
</div>
{% endblock %}
