{% extends 'base.html' %}

{% block header %}
<h1>LEARN</h1>
{% endblock %}

{% block content %}
<div class="container learn-container">

  <div id="learn-panel">

    {% for card in cards %}

    <div class="learn-box" id="number">
      {{ loop.index }}
    </div>

    <div class="learn-box" id="question">
      {{ card.question }}
    </div>

    <div class="learn-box" id="answer">
      {{ card.answer }}
    </div>

    <div class="learn-bg"></div>
    
    {% endfor %}

  </div>

</div>
{% endblock %}