{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<form method="post" class="form">
  <p>Cards list order</p>

  {% for learn_mode in learn_modes %}
  <div class="checkbox">
    <input type="radio" name="learn_mode" id="lm_{{loop.index}}" value="{{learn_mode.id}}" onchange="enableSubmit();" {% if
      user_setting.lm_name==learn_mode.name %}checked{% endif %} />
    <label for="lm_{{loop.index}}">{{ learn_mode.name }}</label>
  </div>
  {% endfor %}

  <div class="break-line"></div>

  <p>Repeat list</p>
  <div class="checkbox">
    <input type="radio" name="repeat_list" id="repeat" value="repeat" onchange="enableSubmit();" {% if user_setting.repeat_list==1 %}checked{% endif
      %} />
    <label for="repeat">Yes</label>
  </div>
  <div class="checkbox">
    <input type="radio" name="repeat_list" id="no_repeat" value="no_repeat" onchange="enableSubmit();" {% if user_setting.repeat_list==0 %}checked{%
      endif %} />
    <label for="no-repeat">No</label>
  </div>

  <div class="break-line"></div>
  
  <p>Read time</p>
  <div id="debug" style="display: none;"></div>

  <div class="checkbox">
    <input type="radio" name="read_time" id="by_char" onchange="toggle();" value="1" {% if user_setting.rt_name=="by_char" %}checked{% endif %}>
    <label for="by_char">Calculate read time by length of text</label>
  </div>
  <label class="box-label by_char_setting" for="time_per_char">milliseconds per char</label>
  <input class="secondary-div by_char_setting" name="ms_per_char" id="ms_per_char" type="number" value={{
    user_setting.ms_per_char }} style="display: block;" onchange="enableSubmit();" required>
  <label class="box-label by_char_setting" for="q_min_read">minimum read time for questions in ms</label>
  <input class="secondary-div by_char_setting" name="q_min_read" id="q_min_read" type="number" value={{
    user_setting.q_min_read }} style="display: block;" onchange="enableSubmit();" required>
  <label class="box-label by_char_setting" for="a_min_read">minimum read time for answers in ms</label>
  <input class="secondary-div by_char_setting" name="a_min_read" id="a_min_read" type="number" value={{
    user_setting.a_min_read }} style="display: block;" onchange="enableSubmit();" required>

  <div class="checkbox">
    <input type="radio" name="read_time" id="by_value" onchange="toggle()" value="2" {% if user_setting.rt_name=="by_value" %}checked{% endif %}>
    <label for="by_value">Set read time for card manually</label>
  </div>
  <label class="box-label by_value_setting" for="q_read" style="display: none;">read time for questions in ms</label>
  <input class="secondary-div by_value_setting" name="q_read" id="q_read" type="number" value={{ user_setting.q_read }}
    style="display: none;" onchange="enableSubmit();" required>
  <label class="box-label by_value_setting" for="a_read" style="display: none;">read time for answers in ms</label>
  <input class="secondary-div by_value_setting" name="a_read" id="a_read" type="number" value={{ user_setting.a_read }}
    style="display: none;" onchange="enableSubmit();" required>

  <div class="break-line"></div>
  <input type="submit" id="submit" value="Save" disabled>
</form>

<script>

  function enableSubmit() {
    document.getElementById("submit").disabled = false;
    debug = document.getElementById('debug');
    debug.textContent = "in enable";
  }

  var toggle_time = 0;
  function toggle() {
    by_char = document.getElementById('by_char');
    by_value = document.getElementById('by_value');
    elements_for_char = document.getElementsByClassName(' by_char_setting');
    elements_for_value = document.getElementsByClassName(' by_value_setting');
    debug = document.getElementById('debug');
    if (by_char.checked) {
      for (const element of elements_for_char) {
        element.style.display = 'block';
      }
      for (const element of elements_for_value) {
        element.style.display = 'none';
      }
      toggle_time += 1;
      debug.textContent = toggle_time;
    }
    else if (by_value.checked) {
      for (const element of elements_for_char) {
        element.style.display = 'none';
      }
      for (const element of elements_for_value) {
        element.style.display = 'block';
      }
      toggle_time += 1;
      debug.textContent = toggle_time;
    }
      enableSubmit();
  }


  window.onload = function() {
      toggle();
      document.getElementById("submit").disabled = true;
  }
</script>

{% endblock content %}
