{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<form method="post" class="form">
  <p>{% block title %}Update Card for Deck {{ deck_name }} of Group {{ group_name }} {% endblock %}</p>
  <input name="question" id="question" placeholder="Question" value="{{card_question}}" required>
  <textarea name="answer" id="update-answer" placeholder="Answer" rows="5" required>{% autoescape false %}{{card_answer}}{% endautoescape %}</textarea>
  <div class="checkbox">
    <input type="checkbox" name="public" id="public" value="public" {%if card_public%}checked{%endif%}>
    <label for="public">public</label>
  </div>
  <input type="submit" value="Update">
</form>
{% endblock %}
