{% extends 'base.html' %}

{% block header %}
<span>{% block title %}Update Card for Deck {{ deck_name }} of Group {{ group_name }} {% endblock %}</span>
{% endblock %}

{% block content %}
<form method="post" class="form">
  <input name="question" id="question" placeholder="Question" value="{{card_question}}" required>
  <input name="answer" id="answer" placeholder="Answer" value="{{card_answer}}" required>
  <div class="checkbox">
    <input type="checkbox" name="public" id="public" value="public" {%if card_public%}checked{%endif%}>
    <label for="public">public</label>
  </div>
  <input type="submit" value="Update">
</form>
{% endblock %}
